<footer class="pt-5 pb-4" style="background-color: #247965; color: white">
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-md-4 mb-4">
        <img src="../../../assets/sohoz.png" alt="Shohoz Logo" height="50" />
        <h5 class="pt-3">
          Shohoz, owned and operated by Shohoz Limited, is Bangladesh's largest
          online ticket destination, which is committed to making your life
          convenient, easier and smarter.
        </h5>
      </div>

      <!-- Quick Links -->
      <div class="col-md-2 mb-4">
        <h5 class="fw-bold">Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold">Home</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >About Us</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Contact Us</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Deals and Offer</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Insurance Claim</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Cancel Ticket</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Bus Reservation</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold">Blog</a>
          </li>
        </ul>
      </div>

      <!-- Services -->
      <div class="col-md-3 mb-4">
        <h6 class="fw-bold">Services</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Bus Tickets</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Air Tickets</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Train Tickets</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Launch Tickets</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Event Tickets</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Park Tickets</a
            >
          </li>
        </ul>
      </div>

      <!-- Information -->
      <div class="col-md-3 mb-4">
        <h6 class="fw-bold">Information</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none fw-bold"
              >Terms & Conditions</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Copyright -->
    <div class="mt-4 border-top pt-3">
      <div
        class="flex d-flex align-items-center justify-content-between"
      >
        <div class="text-white fw-bold">
          &copy; 2015 - 2025 Shohoz Ltd. All Rights Reserved.
        </div>
        <div
          class="flex d-flex align-items-center justify-content-center gap-3"
        >
          <img
            src="../../../assets/Facebook.png"
            alt="Facebook Logo"
            height="20"
          />
          <img
            src="../../../assets/Instagram.png"
            alt="Facebook Logo"
            height="20"
          />
          <img
            src="../../../assets/linkedin.jpg"
            alt="Facebook Logo"
            height="20"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
